body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #222;
    background-color: #F9F8FC;
    margin: 0px;
    padding: 36px;
}

a:hover {
	color:#B30000;
}

main {
	padding: 36px 0;
}


aside {
	margin: 24px 0;
}


label:hover {
	cursor: pointer;
	color: #5BC8AF;
}


aside label input {
    position:absolute;
    top:-20px;
}

aside label span {
	padding: 8px 12px;
	border-radius: 2px;
}


aside input:checked + span {
	background-color: #5BC8AF;
    color:#F7F7F7;
}


article {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 0 0 226px;
	    -ms-flex: 0 0 226px;
	        flex: 0 0 226px;

	-webkit-flex-direction: column;

	    -ms-flex-direction: column;

	        flex-direction: column;
	-webkit-justify-content:space-between;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-align-items:flex-start;
	    -ms-flex-align:start;
	        align-items:flex-start;

	position: relative;

	margin-right: 24px;
	padding: 24px;

	margin-bottom: 24px;
	
	background: #fff;
	box-shadow: #BEBCC4 0px 2px 2px;

}

.cover {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-align-items:center;
	    -ms-flex-align:center;
	        align-items:center;
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	color: #5BC8AF;
	/*color: #A14EBF;*/
	background-color: #F4F3F9;
	cursor: pointer;
	visibility: hidden;
}

.cover h2 {
	font-size: 144px;
	line-height: 24px;
}

.cover:hover {
	background-color: #F9F8FC;
}

.definition.interactive:hover {
	color: #5BC8AF;
}

.gotit {
	height: 24px;
	margin: 0px;
	padding: 0px 8px 0px 8px;
	border: 1px solid #5BC8AF;
	border-radius: 2px;
	background-color: #FFF;
    color: #5BC8AF;
    font-size: 12px;
    line-height: 1px;
}

.gotit:hover {
	cursor: pointer;
	color: #FFF;
	background-color: #5BC8AF;
}


footer {
	font-size: 12px;
}

/*typography*/

h1 {
	font-size: 32px;
	line-height: 32px;
	margin: 0px 0px -8px 0px;
}

h2 {
	font-size: 24px;
	line-height: 24px;
	margin: 0px;
}

h3 {
	font-size: 20px;
	line-height: 24px;
	margin: 0px;
}

p {
	margin: 12px 0;
}

.subheader {
	font-size: 12px;
	line-height: 24px;
}


/*helpers*/

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.interactive {
	cursor: pointer;
}